## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [4]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [1]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"
x = x.lower()
x = x.replace('  ','')
x = x.replace(' ','')
x = x[27:]
x = x[0].upper()+x[1:]

print(x)

Dichlorodiphenyltrichloroethane

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [2]:
dic= {'A':'word', 'B':'15', 'C':'3.14','D': 'list'}
print(dic)

{'A': 'word', 'B': '15', 'C': '3.14', 'D': 'list'}

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables ** p ** and ** h ** respectively, which represent an individual's weight and height (hint: take a look at the '.split ()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [3]:
def bmi(weight=0, height=0):
    if weight == 0:
        weight = input('What is your weight? ')
    if not str(weight).isdigit():
        print('Invalid input')
        bmi()
        return
    if height == 0:
        height = input('How tall are you? ')
    if not str(height).isdigit():
        print('Invalid input')
        bmi(weight=weight)
        return
    BMI = float(weight)/((float(height)/100)**2)
    print('Your body mass index (BMI) is {}'.format(BMI))
bmi(weight=0,height=0)

What is your weight? 55
How tall are you? 159
Your body mass index (BMI) is 21.75546853368142

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [6]:
BMI = int(input('Enter your BMI:'))
if BMI > 40:
    print("You are in Obesity class III")
elif 40 > BMI > 35:
    print ("You are in Obesity class II")
elif 35 > BMI > 30:
    print ("You are in Obesity class I")
elif 30 > BMI > 25:
    print ("You are in Pre-obesity class")
elif 25 > BMI > 18: 
    print ("You are in normal Weight class")
elif 18 > BMI:
    print ("You are underweight")
else: 
    print ("You have no weight")

Enter your BMI:21
You are in normal Weight class

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [7]:
num = int(input("Enter a number: "))
 
factorial = 1
 
for i in range(1, num + 1):
    factorial = factorial * i

print("The factorial of", num, "is", factorial)

Enter a number: 4
The factorial of 4 is 24

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [8]:
num = int(input("Enter a number: "))
list= []
count= 0
while num > -1:
    list.append(num)
    count = count+num
    num= num-1
else:
    print(list)
    print(count)

Enter a number: 7
[7, 6, 5, 4, 3, 2, 1, 0]
28

#### 6) Read the **name** of an employee, his **number of hours worked** and the **sallary per hour** in a single line separated by space. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [9]:
name,hours,sallary = input('Enter name, working hours a week and sallary per hour').split(',')
print(name)
hours = int(hours)
sallary = int(sallary)
print("The total sallary for", name, "is", hours*sallary)

Enter name, working hours a week and sallary per hourcat,10,12
cat
The total sallary for cat is 120

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate and show:

In [10]:
A,B,C = input("Enter three points").split(',')
A = float(A)
B = float(B)
C = float(C)
print (A, B, C)

Enter three points2,6,8
2.0 6.0 8.0

    a) the area of the triangle rectangle with A as the base and C as the height.

In [11]:
area = A*C/2

print('the area of the triangle is', area)

the area of the triangle is 8.0

    b) the area of the circle of radius C. (pi = 3.14159)

In [12]:
circle= 2*C*3.14159

print('the area of the circle is', circle)

the area of the circle is 50.26544

    c) the area of the trapezoid that has A and B for bases and C for height.

In [13]:
trapez= 0.5*(A+B)*C

print('the area of the trapez is', trapez)

the area of the trapez is 32.0

    d) the area of the square that has side B.

In [14]:
square = B*B

print('the area of the square is', square)

the area of the square is 36.0

    e) the area of the rectangle that has sides A and B.

In [15]:
recta= A*B

print('the area of the rectangle is', recta)

the area of the rectangle is 12.0

#### 8) Read **3 floating point values** and calculate the **roots of the second degree equation** formed by these coefficients (using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation)). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [16]:
import cmath
x,y,z = input("Enter three numbers").split(',')
x = float(x)
y = float(y)
z = float(z)

# calculate the discriminant
d = (y**2) - (4*x*z)

# find two solutions
try: 
    sol1 = (-y-cmath.sqrt(d))/(2*x)
    sol2 = (-y+cmath.sqrt(d))/(2*x)
except ValueError:
    print("there are no real roots")

print('The solution are {0} and {1}'.format(sol1,sol2))

Enter three numbers3,7,5
The solution are (-1.1666666666666667-0.5527707983925666j) and (-1.1666666666666667+0.5527707983925666j)

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [17]:
import cmath
p1x, p1y= input('enter first coordinates').split(' ')
p2x, p2y = input('enter second coordinate').split(' ')
p1x= float(p1x)
p1y= float(p1y)
p2x= float(p2x)
p2y= float(p2y)

pxy= (p1x-p2x)**2 + (p1y-p2y)**2

d = cmath.sqrt(pxy)

print("the distance between these points is", d)

enter first coordinates77 130
enter second coordinate67 90
the distance between these points is (41.23105625617661+0j)

#### 10) Read ** two floating point numbers ** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**, in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [23]:
x,y = input("enter your point").split(',')
x = float(x)
y = float(y)
 
if (x > 0 and y > 0): 
    print ("q1") 
  
elif (x < 0 and y > 0): 
    print ("q2") 
          
elif (x < 0 and y < 0): 
    print ("q3") 
      
elif (x > 0 and y < 0): 
    print ("q4") 
          
elif (x == 0): 
    print ("y axis") 
      
elif (y == 0): 
    print ("x axis") 
      
else: 
        print ("origin")

enter your point2,2
q1

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [9]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [26]:
pho = int(input("Enter a phone code: "))
countrydic = {'Austria':43, 'Belgium':32,'Bulgaria':359, 'Croatia':385, 'Cyprus':357, 'Czech Republic':420, 'Denmark':45, 'Estonia':372, 'Finland':358, 'France':33}

for value in countrydic.items():
    if pho in value:
        print(value)

Enter a phone code: 43
('Austria', 43)

#### 12) Write a piece of code that reads 6 values in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [27]:
# list of numbers 
list1 = [int(item) for item in input("Enter the list items : ").split(',')]

pos_count, neg_count = 0, 0
  
# iterating each number in list 
for num in list1: 
      
    # checking condition 
    if num >= 0: 
        pos_count += 1
          
print("Positive numbers in the list: ", pos_count) 
print("Average if the numers", sum(list1)/6 )

Enter the list items : 2,5,4,6,8,9
Positive numbers in the list:  6
Average if the numers 5.666666666666667

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [30]:
N = int(input('enter a number: '))
num = 1
while num < N: 
    if num%2==0:
        root = num**2
        num = num + 2 
        print(root)
    else:
        num = num +1

enter a number: 6
4
16

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [34]:
num = int(input('Enter a number: '))

if (num%2!=0 and num > 0):
    print('odd positive')    
elif (num%2==0 and num > 0):
    print('even positive)'
elif (num%2==0 and num < 0):
    print('even negative')
elif (num%2 != 0 and num < 0):
    print('odd negative')
elif num == 0
    print('null')

SyntaxError: invalid syntax (<ipython-input-34-27517caf9d58>, line 7)

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loop and conditional structure**. At the end, print the six numbers in ascending order on a single line separated by space.

In [37]:
ist = []   
    
for i in range(6,1):    
        list = list.append(int(input('Enter a random number: '))  
    for j in range(0, 6-i-1): 
        if arr[j] > arr[j+1] : 
        arr[j], arr[j+1] = arr[j+1], arr[j] 

        print ("Sorted array is:") 
        print ("%d" %arr[i])

SyntaxError: invalid syntax (<ipython-input-37-1aa77f93cd9f>, line 5)